//Top Bar 
.row
  .twelve.columns
    ul.nav-bar
      li.nine.columns
        a(href='/') Nodejs Seed
      if (req.isAuthenticated())
        li
          a(href="/users/"+req.user.id, title="Account") Account
        li
          a(href="/logout", title="logout") Logout
      else
        li
          a(href='/signup') Signup      
        li
          a(href="/login", title="Login") Login              

   
//End Top Bar
