//Top Bar 
.row
  .twelve.columns
    ul.nav-bar
      li.nine.columns
        a(href='/') 星--管理系统
      if (req.isAuthenticated())
        li
          a(href="/users/"+req.user.id, title="Account") 我的账户
        li
          a(href="/logout", title="logout") 退出
      else   
        li
          a(href="/login", title="Login") 登入              

   
//End Top Bar
