!!! 5
html(lang="en")
  include ../includes/head
  body
    include ../includes/header
    .row
      //Main Blog Content 
      .nine.columns(role='content')
        include ../includes/messages      
        block main
        block content
    include ../includes/footer
    include ../includes/foot
